.up_arrow{
    color: var(--primaryColor);
    font-size: 3.5rem;
    animation: animateArrow 4s infinite;
    margin: 0 auto;
    position: relative;
    top: 0rem;
    cursor: pointer;
    
}

@keyframes animateArrow{
    0%{opacity: 0} 100%{opacity: 1}
}

@media only screen and (max-width: 600px){
    .up_arrow{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}