.bracket_container{
    display: flex;
    
    animation: fade-in-out 2.5s infinite alternate;
    -webkit-animation: fade-inout 2.5s infinite alternate;
    -moz-animation: fade-inout 2.5s infinite alternate;
    -o-animation: fade-inout 2.5s infinite alternate;
     animation: fade-inout 2.5s infinite alternate;
    
}

.bracket_arrow{
    font-size: clamp(3rem, 3.5vw, 5rem);
    color: var(--bracketArrowColor);

}

.bracket_line{
    font-size: clamp(3rem, 3.2vw, 5rem);
    margin: 0 2rem;
    transform: rotate(40deg);
    color: var(--bracketArrowColor);
}

/* ANIMATIONS */
@keyframes fade-inout {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }
  /* support for opera */
  @-o-keyframes fade-inout{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }
  /* support for mozila */
  @-moz-keyframes fade-inout{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }
  /* support for safari and chrome */
  @-webkit-keyframes fade-inout{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }

