.pages_container{ 
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 5%;
    margin: 5% 2% 0 2%;
}

/* Mobile devices / smaller screens - column layout */
@media only screen and (max-width: 600px){

}