.notfound_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 4rem;
    padding: 2rem;
}

.notfound_links_wrapper{
    display: flex;
    gap: 5rem;
}

.notfound_link{
    margin-top: 2rem;
    font-size: clamp(5rem, 4vw, 7rem)
}

.notfound_link:hover{
    color: var(--secondaryColor);
}