.home_container{
    display: flex;
    justify-content: center;
    height: 100vh;
    /* NECESSARY FOR BUBBLES ANIMATION TO WORK: */
    overflow: hidden;
    z-index: 100;
    float: inline-start;
}

.home_flex_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Lines/Logo Animations & Styles */
.logo_animation_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RIGHT ARROW */
.left_arrow{
    stroke-dasharray: 70;
    stroke-dashoffset: 418;
    animation: fillSVGLeft 16s linear infinite;
}

.right_arrow{
    stroke-dasharray: 70;
    stroke-dashoffset: -418;
    animation: fillSVGRight 16s linear infinite;
}

.text{
    animation: animateText 4s linear;
    margin-bottom: 2rem;
}


@keyframes fillSVGLeft{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fillSVGRight{
    to{
        stroke-dashoffset: 0;
      }
}


@keyframes animateText{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Mobile devices / smaller screens  */
@media only screen and (max-width: 550px){
    .logo_animation_container{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}



/******************* OLD LAYOUT CSS *******************/

/* CSS FOR OLD LAYOUT */
/*
.home_top_container, .home_bottom_container{
    display: flex;
    gap: 14%;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
} 

*/

/* MIDDLE CONTAINER -- LOGO & ICONS */

/*
.middle_container{
    display: flex;
    justify-content: center;
}

.icon{
    color: var(--iconColor);
    position: relative;
    top: 38%;
    left: 2.5%;
    width: 100%;
    height: 25%;
    border-radius: var(--borderRadius);
    font-size: 10rem;

}

.icon:hover,
.icon:active {
  color: var(--secondaryColor);
}
*/ 


/* TOP AND BOTTOM CONTAINERS FOR BTN AND LINES */

/*

.top_container_left, .top_container_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.bottom_container_left, .bottom_container_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
*/

/* FLIP CARD/LOGO */

/*
.logo_container{
    width: 27%;
    min-width: 12.5rem;
    border: 0.28rem solid var(--primaryColor);
}

.logo{
   width: 100%;
   height: 100%;
   border: var(--lineSize) solid white;
   
}

.flip_card {
    background-color: transparent;
    perspective: 1000px; 
  }


*/
  /* This container is needed to position the front and back side */

  /*
  .flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  */
  
  
  /* Do an horizontal flip when you move the mouse over the flip box container */

  /*
  .flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
  }
  */

  /* Position the front and back side */
/*   .flip_card_front, .flip_card_back {
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  } */

  /* Style the back side */
/*   .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    transform: rotateY(180deg);
    top: 35%;
  }

  .flip_card_back p{
    padding: 0.5rem;
    font-size: 1.2rem;
  } */

/* BUTTONS */
/* .home_button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btnHomeBackgroundColor);
    width: 60%;
    height: 25%;
    font-size: clamp(1.5rem, 2vw, 4rem);
    color: var(--btnFontColor);
    border: var(--lineSize) solid #0A182F;
    border-radius: var(--borderRadius);
    letter-spacing: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    z-index: 100;
    cursor: pointer;
}



.home_button_container:hover{
    background-color: var(--btnHomeHoverColor);
    color: var(--btnHomeFontColorHover);
    border: 0.3rem solid #0A182F;
    letter-spacing: 0.5rem;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
         transition: all 0.4s ease-in-out;
} */


/* LINES */
/* .vertical_line hr{
    height: 5rem;
    border: var(--lineSize) solid var(--primaryColor);
    background: var(--primaryColor);
}

.horizontal_line_container_left{
    width: 50%;
    height: 0%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.horizontal_line_middle{
    border: var(--lineSize) solid var(--primaryColor);
    width: 15%;
    height: 0%;
    top: 50%;
    position:relative;


}

.horizontal_line{
    border: var(--lineSize) solid var(--primaryColor);
    position: relative;
    top: 0.24rem;


}

.horizontal_line_container_right{
    width: 50%;
    height: 0%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.bottom_container_left .horizontal_line{
    position: relative;
    top: 0rem;
}

.bottom_container_right .horizontal_line{
    position: relative;
    top: 0rem;
}

 */

/* Adjusting font size for smaller web screens */
/* @media only screen and (max-width: 600px){
    .flip_card_back p{
        padding: 0.2rem;
        font-size: 0.85rem;
      }

} */

/* Mobile devices */
/* @media only screen and (max-width: 480px) {
    .home_button_container{
        width: 75%;
        height: 20%;
    }

    .flip_card_back{
        top: 25%;
    }
} */


