
.header_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 7rem;
    border-bottom: var(--lineSize) solid white;
}

nav{
    width: 100%;
}

.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: clamp(2rem, 8%, 16rem);
}

.nav_link{ 
    font-size: clamp(1.4rem, 2vw, 2rem);
    color: white;
    padding: 2rem;
}

/* Uncomment if bringing back navbar numbers
.nav_number{
    color: var(--secondaryColor);
    font-size: clamp(1.4rem, 2vw, 2rem);
}
*/


/* Phones & Small Screens */
@media only screen and (max-width: 600px){
    .nav_link{
        padding: 0.5rem;
    }

    .nav_number{
        display: none;
        font-size: .5rem;
    }
    .nav_container{
        gap: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


}

/* Galaxy Fold / phones smaller than 300 px */
@media only screen and (max-width: 300px){
    .nav_container{
        gap: 1rem;
    }
}

