/* INTRO & ANIMATION */
.fullscreen_intro_container{
    color: var(--secondaryColor);
    font-size: 10rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.intro_text{
   /* svg path length: 751.6892700195312 */
   height: 50vw;
   width: 80vw;
   stroke: var(--secondaryColor);
   stroke-width: 1;
   stroke-dasharray: 751;
   stroke-dashoffset: 200;
   animation: 4s fillSvg linear;
   margin-bottom: 3%;
}

@keyframes fillSvg{
    0%{
        stroke-dashoffset: 751;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.down_arrow{
    color: var(--secondaryColor);
    font-size: 3.5rem;
    animation: animateArrow 4s infinite;
    margin: 0 auto;
    position: relative;
    bottom: 7rem
}

@keyframes animateArrow{
    0%{opacity: 0} 100%{opacity: 1}
}

.line_content_break_horizontal{
    border: var(--lineSize) solid var(--lineSeperatorColor);
    height: 0.1rem;
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 0%;
}

/* Mobile devices / smaller screens - column layout */
@media only screen and (max-width: 600px) {
    .down_arrow{
        bottom: 16rem;
    }
    .line_content_break_horizontal{
        display: none;
    }

    .last_project{
        margin-bottom: 0;
        border: 1px solid red;
    }
}