.skills_education_container{
    display: flex;
    gap: 6rem;
}

.skills_container, .education_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    margin: 3rem 0;
}

.skills_flex, .education_flex {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem;
}

.horizontal_line{
    border: var(--lineSize) solid var(--secondaryColor);
    height: 0.1rem;
    position: relative;
    width: 1rem;
}

.icons_container{
    flex: 1;
    font-size: clamp(3rem, 5vw, 5.5rem);
    color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.icon_1 {
    position: relative; 
    left: 10%;
}

.icon_2 {
    position: relative; 
    top: 5rem;
    left: 40%;
}

.icon_3 {
    position: relative; 
    bottom: 10rem;
    left: 80%;
}

.icon_4 {
    position: relative; 
    left: 5%;
}

.icon_5 {
    position: relative; 
    left: 65%;
}

.icon_6 {
    position: relative; 
    top: 2rem;
    left: 25%;
}

.icon_7 {
    position: relative; 
    top: 2rem;
    left: 70%;
}




/* Mobile devices / smaller screens - icons container column layout */
@media only screen and (max-width: 1200px){
    .icons_container{
        gap: 3.5rem;

    }

    .icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6, .icon_7{
      position: static;
    }

}

/* Mobile devices / smaller screens - whole page column layout */
@media only screen and (max-width: 1100px){
    .skills_education_container{
        display: flex;
        flex-direction: column;
    }
    .icons_container{
        flex-direction: row;
    }

}

/* Galaxy Fold / iphoneSE -- phones smaller than 391 px */
@media only screen and (max-width: 391px){

}