
.skills_education_container{
    display: flex;
    height: 100%;
    gap: 10rem;
}


.education_header{
    grid-area: header;
    align-self: flex-start;
}

.skills_header{
    justify-self: flex-start;
}

.education_grid_container p a{
    grid-area: education; 
}

.education_container p{
    grid-area: location;
}

.education_grid_container{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-areas:
    'header header header'
    'education . location'
    'education . location'
    'education . location';
    align-items: center;
    flex: 2.5;
    padding: 2rem;

}

.skills_grid_container{
    flex: 2.5;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

.skills_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.skills_flex:nth-child(even){
    flex-direction: row-reverse;
}

.horizontal_line{
    border: var(--lineSize) solid var(--secondaryColor);
    height: 0.1rem;
    position: relative;
    width: 20%;
}

.line_content_break{
    border: var(--lineSize) solid var(--lineSeperatorColor);
    height: 0.1rem;
    position: relative;
    height: 100%;
}

/* Mobile devices / smaller screens - column layout */
@media only screen and (max-width: 900px){
    .skills_education_container{
        flex-direction: column;
        gap: 2rem;
    }

    .education_grid_container{
        gap: 2rem;
    }

    .line_content_break{
        height: 0%;
    }

    .skills_grid_container{
        gap: 0.5rem;
        line-height: 1;
    }
}