:root{
    --backgroundColor: white; 

    --primaryColor: #0A182F; 
    --secondaryColor: #A63446; 

    --standoutColor: #D72638;
    
    --fontColor: #CCD6F6; 
    --headerColor: #CCD6F6; 

    --iconColor: #A63446;

    --sectionBreakColor: rgba(166,52,70, 0.8); 

    /* HOME PAGE BTNS */
    --btnHomeFontColor: white; 
    --btnHomeFontColorHover: #0A182F; 
    --btnHomeBackgroundColor: #A63446; 
    --btnHomeHoverColor: rgba(166,52,70, 0.75); 

    /* OTHER PAGES BTNS */
    --btnFontColor: white; 
    --btnFontColorHover: #0A182F; 
    --btnBackgroundColor: #A63446; 
    --btnHoverColor: rgba(166,52,70, 0.75); 

    /* MISC */
    --bracketArrowColor: #A63446; 
    --lineSeperatorColor: rgba(10,24,47, 0.15);
    --lineSize: 0.1rem;
    --borderRadius: 1rem;

    /*
    --sollunaEssence: rgb(186, 161, 204);
    --romp: #561a4c;
    --dailyFeed: #c83e4d;;
    --diceGame: #05bcff;
    */
}

